:root{
    --primary-color: #6C63FF; 
    --secondary-color: #f9f7fe; 
    --third-color: #272142;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}

body {
    font-family: var(--default-font-family);
}

h1, h2, h3, h4, h5, h6{
    color:black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}

h2 {
    font-size: 64px;

}

nav {
padding: 20px 0;
}

nav a{
color: var(--third-color);
text-decoration: none;
transition: all 150ms ease-in-out;
}

nav a:hover, nav li.active a {
color: var(--primary-color);
}

nav ul{
padding: 0;
margin: 0;
}

nav li {
display: inline;
list-style: none;
line-height: 42px;
margin-left: 10px;
}


p{
    font-weight: normal;
    font-size: 16px;
}

footer {
text-align: center;    
}

footer a {
    color:var(--primary-color);

}

a:hover {
    color: var(--primary-color);
}

.btn-branding {
    background: var(--primary-color);
    border-radius: 4px;
    color: white;
    font-size: 20px;
    padding: 12px 20px;
    text-decoration: none;
}

.btn-branding-outline {
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 20px;
    padding: 12px 20px;
    text-decoration: none;   
}

.closing {
    background-color: var(--secondary-color);
    border-radius: 20px;
    margin: 20px 113px;
    padding: 15px 100px;
}

.hero {
    background: var(--secondary-color);
    padding: 160px 20px;
    text-align: center;
}

.hero p {
    color: var(--third-color);
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.hero h2 {
    font-weight: normal;
    font-size: 24px;
    line-height: 2;
}

.content-container {
    font-size: 20px;
    padding: 160px 120px;
}

.content-container h1 {
    font-size: 64px;
    line-height: 80px;
   }

.content-container h2 {
    font-size: 20px;
   }

.content-container p {
    font-size: 18px;
    font-family: var(--default-font-family);
}

.content h3{
    font-size: 24px;
    font-family: var(--default-font-family);
}

.content p{
    font-size: 14px;
   }

.icons {
    text-align: center;
}

.logo {
max-height: 40px;
}

.fa-github{
    background: var(--secondary-color);
    border-radius: 30px;
    font-size: 30px;
    padding: 10px;
    margin: 0px 30px;
}

.fa-envelope{
    background: var(--secondary-color);
    border-radius: 30px;
    font-size: 30px;
    padding: 10px;
    margin: 0px 30px;
}

.project-description {
padding: 120px 60px;
}

@media (max-width:900px){
    h1 {
        font-size: 20px;
    }

    h2 {
    font-size: 40px;
    }

    .hero {
        background: var(--secondary-color);
        padding: 50px 10px;
        text-align: center;
    }

    .hero p{
        font-size: 40px;
    }

    .hero h2{
        font-size: 18px;
    }

    .content-container {
        font-size: 18px;
        padding: 50px 10px;  
        text-align: center;
    }

    .content-container h1{
        font-size: 40px;
    }

    .project-description{
        padding:0;
        text-align: center;
    }

    .closing {
        margin: 0px 10px;
        padding: 0px 10px;
        text-align: center;
    }
    .closing h1 {
        font-size: 40px;
    }
    
    .closing p {
        font-size: 10px;
    }

    .btn-branding {
        font-size: 18px;
    }

}